{% extends 'student\admin.html' %}

{% block title %} Admin Panel {% endblock %}
{% block admin %} active {% endblock %}


   
{% block main %}

<div class="container-fluid-scroll">

      <div class="box">
          <h2><a href="/users/"> All Users ({{users}}) </a></h2>
      </div>
      <div class="box">
          <h2><a href="/approved_applications/"> Approved Applications ({{approve}}) </a></h2>
    </div>
    <div class="box">
        <h2><a href="/pending_applications/"> Pending Applications ({{pending}}) </a></h2>
    </div>
    <div class="box">
        <h2><a href="/rejected_applications/"> Rejected Applications ({{reject}}) </a></h2>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 
  {% endblock %}
  {% block js %}
  {% endblock %}